.container{
    border: 5px ridge green;
        height: 100%;
        width: 90%;
}
.image{
    background-image: url(./image.html.jpg);
}

.block{
    border: 3px solid red;
    margin:50px ;
    border-radius: 30px;
    padding: 6px;
    width: 23%;
    background-color: black;
    color: white;
    justify-content:space-evenly;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
   
   
}

.circle
{
    border: 6px solid gray;
    height: 310px;
    width: 310px;
    border-radius: 50%;
    background-color:rgb(10, 167, 159);
    display: inline-block;
    margin-top: 170px;
    margin-left: 30px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    flex-wrap: wrap;
}
.longbox{
    border: 5px dashed red;
    width: 250px;
    height: 580px;
    margin-bottom: 20px;
    margin-left: 110px;
    border-radius: 5px;
    display: inline-block;
    color: red;
    text-align: center;
}
.box{
    margin-left: 300px;
    border: 3px solid red;
    border-radius: 30px;
    padding: 6px;
    width: 30%;
    background-color: black;
    color: white;
    justify-content:space-evenly;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
}

.starters{
    border: 3px solid green;
    border-radius: 40px;
    width: 290px;
    height: 220px;
    background-color: rgb(90, 250, 242);
    display: inline-block;
    margin: 48px;
    color: rgb(13, 43, 134);
    text-align: center;   
}
input{
    text-align: center;
}

.full{
    flex-wrap: wrap;
    display: flex;
    
}

